In [1]:
import pandas as pd
import numpy as np

In [15]:
SCREENINGFILE = "ED_Screening_Main_March2023_April+7,+2023_15.40.csv"
df_screen = pd.read_csv("..\data\{}".format(SCREENINGFILE))

QUALFILE = "ED_Main_Spring_2023_April+7,+2023_15.48.csv"
df_qual = pd.read_csv("..\data\{}".format(QUALFILE))

KEYFILE = "key.csv"
df_key = pd.read_csv("..\data\{}".format(KEYFILE))

In [14]:
df_qual[df_qual.ID == "6032"] # R_2AFqSO4EGg2I8eJ should be 9377
df_qual[df_qual.ID == "5026"] # R_cIwJxoHng65K0Zr should be 9017

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q15_Page Submit,Q15_Click Count,t_drink_First Click,t_drink_Last Click,t_drink_Page Submit,t_drink_Click Count,Q1_1,Q1_2,COGED_s5,ID.1
58,2023-03-09 09:02:31,2023-03-09 09:44:00,0,100,2489,1,2023-03-09 09:44:01,R_cIwJxoHng65K0Zr,anonymous,EN,...,20.116,0,0,0,120.114,0,8,1,3,NaN
60,2023-03-09 08:59:10,2023-03-09 09:49:13,0,100,3003,1,2023-03-09 09:49:14,R_1qVeJjadTwlXHy7,anonymous,EN,...,20.008,0,0,0,120.012,0,6,5,5,NaN
131,2023-03-16 15:25:45,2023-03-16 15:36:27,0,100,641,1,2023-03-16 15:36:27,R_25tQId1LawccDP6,anonymous,EN,...,20.113,0,0,0,120.121,0,6,9,4,NaN
170,2023-03-22 15:23:08,2023-03-22 15:34:07,0,100,658,1,2023-03-22 15:34:09,R_330Sovu3EVJKSjL,anonymous,EN,...,20.014,0,0,0,120.015,0,6,7,5,NaN

In [7]:
df[df.ID == "9017"].Q14

119    5
Name: Q14, dtype: object

In [5]:
df_qual.columns

Index(['StartDate', 'EndDate', 'Status', 'Progress', 'Duration (in seconds)',
       'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel',
       'UserLanguage', 'ID', 'session', 'PANAS_1', 'PANAS_2', 'PANAS_3',
       'PANAS_4', 'PANAS_5', 'PANAS_6', 'PANAS_7', 'PANAS_8', 'PANAS_9',
       'PANAS_10', 'PANAS_11', 'PANAS_12', 'PANAS_13', 'PANAS_14', 'PANAS_15',
       'Q14', 'Q15_First Click', 'Q15_Last Click', 'Q15_Page Submit',
       'Q15_Click Count', 't_drink_First Click', 't_drink_Last Click',
       't_drink_Page Submit', 't_drink_Click Count', 'Q1_1', 'Q1_2',
       'COGED_s5', 'ID.1'],
      dtype='object')

In [23]:
def tweak_key(df):
    return(df
           .drop(df.index[df.ID == 2018])
           .assign(ID=lambda df_: df_.ID.astype(str))
           .melt(id_vars="ID")
           .rename(columns={"variable": "session",
                            "value": "condition"})
           .assign(session=lambda df_: df_.session.astype("category"),
                   condition=lambda df_: df_.condition.astype("category"))
          )

def tweak_panas(df, df_key):
    IDs = df_key.ID.unique()
    panas_cols = ["ID", "session"] + [col for col in df.columns if "PANAS" in col]
    
    return(df
           .assign(ID=lambda df_: np.where(df_qual.ResponseId == "R_2AFqSO4EGg2I8eJ", "9377", df_qual.ID))
           .assign(ID=lambda df_: np.where(df_qual.ResponseId == "R_cIwJxoHng65K0Zr", "9017", df_qual.ID)) # line to fix ID 5026
           [panas_cols]
           .query("ID in @IDs")
           .assign(session=lambda df_: "T" + df_.session)
           .astype({col:"uint8" for col in df_qual.columns if "PANAS" in col})
           .astype({"ID":"category"})
           .merge(df_key)
          )

key = tweak_key(df_key)
panas = tweak_panas(df_qual, key)

In [12]:
p2 = (panas.groupby("ID").size() == 3)
p2[p2 == True]
panas[panas.ID == "5026"]

,ID,session,PANAS_1,PANAS_2,PANAS_3,PANAS_4,PANAS_5,PANAS_6,PANAS_7,PANAS_8,PANAS_9,PANAS_10,PANAS_11,PANAS_12,PANAS_13,PANAS_14,PANAS_15,condition
40,5026,T1,3,4,2,3,4,4,4,1,2,1,1,1,1,4,3,DCXS
110,5026,T2,3,3,1,3,4,4,4,1,2,1,2,1,1,1,2,DCXS
148,5026,T3,3,4,3,3,2,4,2,1,2,1,2,2,2,3,2,CS

In [32]:
df = df_qual
s = df.session
s[df.ID == "9170"]

86     1
150    2
Name: session, dtype: object

In [17]:
panas.to_feather("..\\data\\panas.fea")

In [18]:
p2 = pd.read_feather("..\\data\\panas.fea")

In [22]:
p2.replace?

In [19]:
p2.describe()

,PANAS_1,PANAS_2,PANAS_3,PANAS_4,PANAS_5,PANAS_6,PANAS_7,PANAS_8,PANAS_9,PANAS_10,PANAS_11,PANAS_12,PANAS_13,PANAS_14,PANAS_15
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,2.949239,2.629442,1.309645,2.913706,2.020305,3.380711,3.055838,1.472081,2.741117,1.649746,2.426396,1.248731,1.862944,2.583756,2.944162
std,0.861573,1.078428,0.631291,0.849769,0.936556,0.893419,0.852325,0.746066,0.941658,0.865532,0.904024,0.557015,0.945719,1.147019,0.921362
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,1.000000,2.000000,1.000000,3.000000,3.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,3.000000,2.000000,1.000000,3.000000,2.000000,3.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,2.000000,2.000000,3.000000
75%,4.000000,3.000000,1.000000,3.000000,3.000000,4.000000,4.000000,2.000000,3.000000,2.000000,3.000000,1.000000,2.000000,4.000000,4.000000
max,5.000000,5.000000,4.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,5.000000,4.000000,5.000000,5.000000,5.000000

In [20]:
panas.to_csv("..\\data\\panas.csv")